/* You CSS goes in here */
/* You CSS goes in here */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


html, body {
    margin:0;
    padding:0;
    font-weight: 400;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
        
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: none;
}

button{
    
    cursor: pointer;
}

p{
    margin: 0%;
}

input{
    width: 150px;
    font-size: 10pt;
    height: 28px;
}

table{
    margin: auto;
    border: 2px solid;
    
}

td{
    height: 20px;
}






/********************* simulation table ********************/

.sim{
    background-color: #f7eee0; 
    margin-top: 100px;
    margin-bottom: 100px;
    width: min-content;
    height: min-content;
    border-left: 25px solid ;
    border-right: 25px solid ;
    border-bottom: 25px solid ;
    border-color: #634380;
    box-shadow: 5px 10px 8px #888888;
    position: relative;
}

.sim_table{
    display: grid;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    align-content: center;

    grid-template-areas: 
    "instruction-area instruction-area instruction-area instruction-area "
    "area2 area3 area3 areax"
    "area1 area1 area1 area1 "
    "area6 area6 area6 area6 "

}

.instruction{
    padding: 10px;
    
    width: 30%;
    height: fit-content;
    background-color: #8AE3FF;
    grid-area: instruction-area;
    border: solid #080808 3px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    font-size:25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    position: relative; 
    top: 50%;
    right: 0; /* Align to the right */
    transform: translateY(-50%);
}

#steps{
    
    font: caption;
    font-size: medium;
    font-weight: bold;
}

#Layer_1{
    display: flex;
    flex-direction: column;
    }

.item1{
    grid-area: area1;
}
.item2{
    
    grid-area: area2;
}

.item3{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid #080808 3px;
    height: 70%;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    grid-area: area3;
    padding: 10px 0;

}

.flow-rate-slider{
    align-content: center;
    /* outline: none; */
    /* background: linear-gradient(to right, #ff5733 0%, #ff5733 33%, #f5d142 33%, #f5d142 66%, #2ecc71 66%, #2ecc71 100%); */
}

datalist {
    display: flex;
    flex-direction: colums;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 200px;
  }

option {
    padding: 0;
  }
  
input[type="range"] {
    width: 200px;
    margin: 0;
  }

/* #markers option {
    background-color: #3498db;
    color: white;
    border: 1px solid #2980b9;
    text-align: center;
    width: 33%;
  } */

.item4{
    align-content: center;
    border: solid #080808 2px;
    width: 80%;
    border-radius: 5px;
    background-color: transparent;
    grid-area: area4;

}

.item5{
    width: 80%;
    align-content: center;
    border: solid #080808 2px;
    border-radius: 5px;
    background-color: transparent;
    grid-area: area5;
    
    
}

.item6{
    padding: 40px;
    border: 4px solid teal;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-area: area6;
    gap: 40px;
}

.data-div{
    display: flex;
    gap: 20px;
}

.item7{
    grid-area: area7;
}
.item8{
    grid-area: area8;
}
.item9{
    grid-area: area9;
}
.item10{
    grid-area: area10;
}
.item11{
    background: rgb(57, 111, 247);
    text-align: center;
    border-radius: 5px;
    grid-area: area11;
}
.item12{
    background: rgb(57, 111, 247);
    text-align: center;
    border-radius: 5px;
    grid-area: area12;
    padding: 20px;
}

.item13{
    grid-area: area13;
    background-color: #ff6600;
    margin-top: 5px;
    border: solid #080808 3px;
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 10px 0 10px;
} 

.item14{
    grid-area: area14;
    background-color: #ff6600;
    margin-top: 5px;
    border: solid #080808 3px;
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.itemx{
    grid-area: areax;
}

#mycanvas{
    border: 4px solid teal ;
    border-radius: 15px;
    height: 100%;
    display: flex; /* Use flexbox to center the child div vertically */
    gap: 20px;
    padding: 20px;
}

#enable{
    background-color: #ca2222;
    padding: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 80%;
    height: 70%;
    border: 0px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
}

#purze{
    background-color: #079bff;
    padding: 10px;
    border: 0px;
    height: 70%;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
}

.instrument{
    background-color: rgb(57, 111, 247);
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: #eaecef;
    font-weight: bolder;
    width: 100%;
}

#current_direction{
    background-color: rgb(57, 111, 247);
    padding: 10px 5px;
    border: 0px;
    border-radius: 5px;
    color: #eaecef;
    font-weight: bolder;
    width: 100%;
}


.calculate-button{
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    width: max-content;
    background-color: rgb(57, 111, 247);
    color: white;
    border: 4px;
    border-radius: 5px;
    

}




#tab1 {
    width: 100%;
    border: 2px solid black;
    height: 60%;
  }
  
  
input {
    width: 100%;
  }

/* Define the animation */
/* @keyframes fade-left-to-right {
    0% {
        opacity: 1;
        right: 0;
    }
    100% {
        opacity: 1;
        right: 100%; 
    }
} */



/* #Water_4{
    scale: 1 1;
    animation-duration: 2s;
    transform-origin: right;
    transition: scale 5s ;
} */

/* #enable :active>#Water_4{
    scale: 1 1;

} */

/* #Venturimeter_Water_Right.animate {
    animation: fade-left-to-right 1s linear; /* Adjust duration as needed */
    /* animation-duration: 10s;
} * */


/* #Water_1{
    position: relative;
}  */



.arrow-1{
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

    }
    
@keyframes arrowAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.paused-animation {
    animation-play-state: paused;
  }

/* @media screen and (max-width : 1330px){
    
} */